.about {
    min-height: 100vh;
    background-color: #b8b7b7;
}

.container_about {
    max-width: 900px;
    margin: 0 auto;
}

.about_container_content {
    padding-top: 5em;
}

.heading-secondary {
    display: block;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #1A5C8E;
    margin-bottom: 1em;
}

.heading-secondary::after {
    content: "";
    display: block;
    background-color: currentcolor;
    width: 3em;
    height: 2px;
    margin: 1em auto 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.about__content {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.2;
    color: #000000;
}


.about .about__content p {
    margin-bottom: 1em;
    text-indent: 4em;
    text-align: justify;
}


.heading-tertiary {
    flex: 1 1 100%;
    font-size: 1.4em;
    font-weight: bold;
    color: #1A5C8E;
}

/* Icons */
.about__skills-icons {
    line-height: 1.7;
    flex: 1 1 100%;
}

.about__skills-icon {
    height: 1.8em;
    width: 1.8em;
    margin-right: 0.4375em;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    color: #1A5C8E;
    text-align: center;
    padding: 5px 0;

    /* Position the tooltip text */
    position: absolute;
    bottom: -80%;
    left: 25%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.btn__icon-left {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.4em;
    fill: #1A5C8E;
}

/* Buttons */
.about__cta-box {
    text-align: center;
    padding-bottom: 3em;
}

.btn--ghost {
    border: 1px solid #1A5C8E;
    color: #1A5C8E;
    margin-right: 0.5em;
}

.btn--ghost:hover,
.btn--ghost:focus,
.btn--ghost:active {
    color: #eeeeee;
    background-color: #5294c7;
}


.btn--full {
    border: 1px solid transparent;
    background-color: #1A5C8E;
    color: #eeeeee;
}

.btn--full:hover,
.btn--full:focus,
.btn--full:active {
    color: #eeeeee;
    background-color: #5294c7;
}

.resume_btn {
    color: #1A5C8E;
    border: 1px solid #1A5C8E;
}


.about_technology_first_line,
.about_technology_second_line {
    display: flex;
    justify-content: space-between;
    gap: 6em;
    margin-bottom: 25px;
}

.about_technology_container {
    width: 100%;
}

.category-title {
    font-size: 1.2em;
    margin-bottom: 10px
        /* test */
}